<div class="add-spot-view pullUp text-center">
	<div class="add-wait hide"><i class="ionicons ion-load-c orange fa fa-spin"></i> Creating Spot...</div>
	<div class="add-success hide"><i class="ionicons ion-ios-checkmark green"></i> Spot Added! <a href="#my-spots" class="view-button">My Spots</a><a href="#map" class="map-button">Back to Map</a></div>
	<form class="add-spot-form">
		<div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-briefcase"></i></div>
	      <input type="text" class="form-control"  placeholder="Business Name" name="business">
	    </div>
	    <div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-location"></i></div>
	      <input type="text" class="form-control"  id="address" placeholder="Address" name="address">
	    </div>
	    <div class="input-group">
      <div class="input-group-addon"><i class="ionicons ion-wifi"></i></div>
	      <input type="text" class="form-control"  placeholder="Wifi Name (SSID)" name="ssid">
	    </div>
	    <div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-android-lock"></i></div>
	      <input type="password" class="form-control"  placeholder="Wifi Password (Optional)" name="password">
	    </div>
	    <div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-radio-waves"></i></div>
	      <input type="text" class="form-control"  placeholder="Carrier (Optional)" name="carrier">
	    </div>
	   
	</form>
	 <h4 class="orange"><i class="ionicons ion-mouse"></i> Good for working?</h4>
	    <div class="work-toggle toggle">
	    	<div class="col-xs-6 left" data-gfw="1">Yes</div>
	    	<div class="col-xs-6" data-gfw="0">No</div>
	    </div>
	    <div class="clear-fix"></div>
	    <h4 class="orange"><i class="ionicons ion-flash"></i> Internet Speed</h4>
	    <div class="speed-toggle toggle">
	    	<div class="col-xs-4" data-speed="0">Slow</div>
	    	<div class="col-xs-4 middle" data-speed="1">Medium</div>
	    	<div class="col-xs-4" data-speed="2">Fast</div>
	    </div>
	    <div class="clear-fix"></div>
	    <h4 class="orange"><i class="ionicons ion-outlet"></i> Power Outlets?</h4>
	    <div class="outlet-toggle toggle">
	    	<div class="col-xs-6 left" data-outlets="1">Yes</div>
	    	<div class="col-xs-6" data-outlets="0">No</div>
	    </div>
	    <div class="add-spot-button">Submit Spot</div>
</div>f