<div class="bugs-view">
	<div class="bug-overlay hide"><i class="ionicons ion-load-c orange fa fa-spin"></i>  Submitting Bug...</div>
	<div class="bug-success hide"><i class="ionicons ion-ios-checkmark orange"></i> Bug successfully submitted, Thanks!<a href="#help" class="done-bug">All Done</a></div>
	<p>Having issues? Report any bugs below so we can constantly improve your app experience.</p>
	<textarea class="bug form-control"></textarea>
	<div class="submit-bug">Submit Bug</div>
	<div class="alert alert-danger alert-dismissible fade in hide" role="alert"> <button type="button" class="close close-button" data-dismiss="alert" aria-label="Close" data-role="none"><span aria-hidden="true">×</span></button> <h4 class="xbold">Oh No!</h4> <p></p> <br> <button type="button" class="btn close-button btn-default" data-dismiss="alert" aria-label="Close" data-role="none">Okay</button> </div>
</div>