<div class="forgot-view text-center">
	<div class="forgot-top"><img class="forgot-logo" src="full_logo_white.png"></div>
	<div class="forgot-toggle">
		<div class="text-center col-xs-12">Forgot Password</div>
	</div>
	<form class="forgot-form">
		
		<div class="forgot-wait medium hide"><i class="ionicons ion-load-c orange fa fa-spin"></i> Sending Reset Link...</div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-android-mail"></i></div>
	      <input type="email" class="form-control forgot-email" id="exampleInputAmount" placeholder="Email Address" name="email">
	    </div>
	    <div class="forgot-error"></div>
	  </div>
	</form>
	<div class="signin-button">Reset Password</div>
 <div class="alert alert-danger alert-dismissible fade in hide" role="alert"> <button type="button" class="close close-button" data-dismiss="alert" aria-label="Close" data-role="none"><span aria-hidden="true">×</span></button> <h4 class="xbold">Oh No!</h4> <p></p> <br> <button type="button" class="btn close-button btn-default" data-dismiss="alert" aria-label="Close" data-role="none">Okay</button> </div>
</div>

