<div class="help-view">
	<div class="help-settings">
		<h1 class="fancy"><span>Help &amp; Settings</span></h1>
		<div class="about-spot help-line first settings">
			<h3 class="settings-line"><i class="as-icon ionicons ion-ios-information-outline"></i> About SpotPop <i class="as-arrow ionicons ion-ios-arrow-right"></i></h3>
		</div>

		<div class="bug-report help-line settings">
			<h3 class="settings-line"><i class="as-icon ionicons ion-bug"></i> Bug Reports <i class="as-arrow ionicons ion-ios-arrow-right"></i></h3>
		</div>
		

		<!-- <h1 class="fancy"><span>Danger Zone</span></h1>
		<div class="help-line first delete-help">
			<h3><i class="as-icon ionicons ion-android-delete"></i> Delete help <i class="as-arrow ionicons ion-ios-arrow-right"></i></h3>
		</div> -->
	</div>
	<div class="alert alert-danger alert-dismissible fade in hide" role="alert"> <button type="button" class="close close-button" data-dismiss="alert" aria-label="Close" data-role="none"><span aria-hidden="true">×</span></button> <h4 class="xbold">Oh No!</h4> <p></p> <br> <button type="button" class="btn close-button btn-default" data-dismiss="alert" aria-label="Close" data-role="none">Okay</button> </div>
</div>