<div class="login-view text-center">
	<div class="login-top"><img class="login-logo" src="full_logo_white.png"></div>
	<div class="login-toggle">
		<div class="col-xs-6 active">Sign In <i class="ionicons ion-arrow-up-b active-arrow slideUp"></i></div>
		<div class="col-xs-6 signup-toggle">Sign Up</div>
	</div>
	<form class="login-form">
		<div class="login-error"></div>
		<div class="login-wait medium hide"><i class="ionicons ion-load-c orange fa fa-spin"></i> Signing In User...</div>
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon"><i class="ionicons ion-android-contact"></i></div>
	      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Username" name="login">
	    </div>
	    <div class="input-group">
	      <div class="input-group-addon"><i class="fa fa-lock"></i></div>
	      <input type="password" class="form-control" id="exampleInputAmount" placeholder="Password" name="password">
	    </div>
	  </div>
	</form>
	<div class="signin-button">Sign In</div>
<!-- 	<div class="facebook-button"><i class="fa fa-facebook"></i> Facebook</div>
 -->	<a href="#forgot-password">Forgot Password?</a>
</div>

