<div class="register-view text-center">
	<div class="register-top"><img class="register-logo" src="full_logo_white.png"></div>
	<div class="register-toggle">
		<div class="col-xs-6 signin-toggle">Sign In</div>
		<div class="col-xs-6 active">Sign Up  <i class="ionicons ion-arrow-up-b active-arrow slideUp"></i></div>
	</div>
	<form class="register-form">
		<div class="register-error"></div>
		<div class="register-wait medium hide"><i class="ionicons ion-load-c orange fa fa-spin"></i> Signing Up User...</div>
		<div class="register-success medium hide"><i class="ionicons ion-ios-checkmark green"></i>You're all done! <div class="done-button">Take me in</div></div>
		<div class="register-error-mess medium hide"><i class="ionicons ion-ios-close red"></i>An Error Occured! <div class="done-button">Try again</div></div>
		<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon"><i class="ionicons ion-android-contact"></i></div>
			<input type="text" class="form-control" placeholder="Username" name="login">
		</div>
		<div class="input-group">
			<div class="input-group-addon"><i class="ionicons ion-lock-combination"></i></div>
			<input type="password" class="form-control" placeholder="Password" name="password">
		</div>
		<div class="input-group">
			<div class="input-group-addon"><i class="ionicons ion-lock-combination"></i></div>
			<input type="password" class="form-control" placeholder="Repeat Password" name="rpassword">
		</div>
		</div>
	</form>

	<div class="signup-button">Sign Up</div>
<!-- 	<div class="facebook-button"><i class="fa fa-facebook"></i> Facebook</div>
 --></div>

