<div class="spot-nav-view text-center">
	<div class="col-xs-2 back-button"><i class="ionicons ion-ios-arrow-back orange"></i></div>
	<div class="col-xs-8 spot-title">{{#if title}}{{title}}{{else}}<i class="ionicons ion-load-c orange fa fa-spin"></i>{{/if}}</div>
	<div class="col-xs-2">{{#if showEdit}}<i class="edit-spot ionicons ion-edit orange"></i>{{else}}{{#if isLiked}}<i class="unlike-spot ionicons ion-android-favorite orange"></i>{{else}}<i class="like-spot ionicons ion-android-favorite-outline orange"></i>{{/if}}{{/if}}</div>
	<div class="clear-fix"></div>
</div>