.cw-mobile-nav-view {
    height: 50px;
    background: $pink;


h4 {
	 padding-top: 8px !important;
}
    .show-more {
            padding-top: 12px !important;
    }

    .show-nav {
    	 padding-top: 8px !important; 
    }
}