.spot-nav-view {
	background: $white;
	height: 75px;
	position: relative;
    z-index: 999;
    border-bottom: 1px solid $greyline;

	.col-xs-8 {
		padding: 5% 0;
		font-size: 150%;
		position: relative;
		top: 2px;

		 h1 {
		    font-size: 100%;
		    margin: 0;
		    font-style: italic;
		    font-weight: bolder;
		}
		h2 {
		    font-size: 60%;
		    margin: 0;
		}
	}

	.col-xs-2 {
		padding: 5% 0;
		font-size: 200%;
	}
}